<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="com.webmd.general.common.Listener"></listener>
	</listeners>
	<test name="TestDesktop">
		<parameter name="breakPoint" value="4" />
		<groups>
			<run>
				<include name="liveRampFeature" />
			</run>
		</groups>
		<classes>
			<class name="com.webmd.ads.regression.LiveRampFeature"></class>
		</classes>

	</test> <!-- Test -->
	<!-- <test name="TestMobile">
		<parameter name="breakPoint" value="1" />
		<groups>
			<run>
				<include name="adCallKeyValidation" />
			</run>
		</groups>
		<classes>
			<class name="com.webmd.ads.MDPDecisionTree"></class>
		</classes>

	</test> Test -->
</suite> <!-- Suite -->